# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\桌面\java Swing mysql实现简单的购物系统项目源码\zjhjavawork\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
